/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
*{margin: 0; padding: 0;}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

button {
  margin: 8px 8px 8px 0 !important;
}
.mat-divider{
  margin-bottom: 15px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.action-col{
  width: 5%;
}
.checkbox-col{
  width: 10%;
}
.width100{
  max-width: 100%;
  width: 100%;
}
table{
  width: 100%;
}
.mat-header-cell{
  font-weight: 600;
  font-size: 14px;
}

.res-table-container {
  position: relative;
  max-height: 700px;
  overflow: auto;
}
.table-container{
  position: relative;
}
table{
  min-width: 600px;
}
.image-preview{
  width: 150px;
  background-size: 100% ;
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 15px;
  place-items: center;
}
fieldset{
  border: #e0e0e0 1px solid;
  border-radius: 4px;
}
.tool-bar{
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

}
::-webkit-scrollbar {
  height: 7px;       
  width: 7px;
  overflow-y: scroll;
  background: #1e293b;
  box-shadow: inset 0 0 4px #1e293b;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
  overflow-y: scroll;
}
::-webkit-scrollbar-thumb:hover {
  overflow: hidden;
}
::-webkit-scrollbar :hover{
  overflow: hidden;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding-right: 15px !important;
  white-space: nowrap !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.mat-menu-panel {
  background: #1e293b;
}


