<ng-progress #progressBar color="red"></ng-progress>
<mat-card>
  <div>
    <mat-card-title color="primary">{{'TEmployeeModule.title'|translate}}</mat-card-title>
    <mat-divider></mat-divider>
    <br>
    <br>
    <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="column" fxLayout.xs="column">
      <div fxFlex fxLayoutAlign="start center">
        <button *ngIf="'CreateTEmployee'|userRoles" mat-raised-button color="primary" (click)="openDialog('create')">
          {{'button.createButton'|translate}}
        </button>
        <button *ngIf="'LockTEmployee'|userRoles" color="warn" mat-raised-button
          [disabled]="selection.selected.length==0 || isSectionSelectedNotEmStatus()"
          (click)="lockEMployee()">{{'button.lockButton'|translate}}
        </button>
        <button *ngIf="'CreateTCardNo'|userRoles" mat-raised-button color="primary"
          [disabled]="selection.selected.length !=1 || !isSectionSelectedEmStatus()" (click)="openDialog('createCard')">
          {{'TCardNo.CreateCard'|translate}}
        </button>
        <button *ngIf="'CreatePVehicleInfo'|userRoles" mat-raised-button color="primary"
          [disabled]="selection.selected.length !=1 || !isSectionSelectedEmStatus()"
          (click)="openDialog('createVehicle')">
          {{'TEmployeeModule.createVehicle'|translate}}
        </button>
        <button *ngIf="deviceTypeConfig=='idemiadevice'&&'CreateFingerAndFace'|userRoles" mat-raised-button
          color="primary" [disabled]="selection.selected.length !=1 || !isSectionSelectedEmStatus()"
          (click)="openDialog('createFinger')">
          {{'TEmployeeModule.createFinger'|translate}}
        </button>
      </div>
      <div fxFlex></div>
      <!-- tìm kiếm -->
      <div fxFlex>
        <mat-form-field appearance="standard" ngClass.md="width100">
          <mat-label> {{'button.searchButton'|translate}}</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="{{'button.searchPlaceholder'|translate}}"
            #inputSearch>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="mat-elevation-z8 table-container" *ngIf="'ViewTEmployee'|userRoles">
    <div class="res-table-container">
      <table mat-table [dataSource]="dataSource" matSort class="example-table">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="checkbox-col" style="white-space: nowrap; padding-right: 15px;">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" style="white-space: nowrap; padding-right: 15px;">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef style="white-space: nowrap; padding-right: 15px;">
            {{'button.positionCol'|translate}}</th>
          <td mat-cell *matCellDef="let element;index as i" style="white-space: nowrap; padding-right: 15px;">
            {{(i+1)+(page*pageSize)}}</td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="employeeName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="white-space: nowrap; padding-right: 15px;">
            {{'TEmployeeModule.employeNameCol'|translate}}</th>
          <td mat-cell *matCellDef="let element" style="white-space: nowrap; padding-right: 5px;">{{element.emName}}
          </td>
        </ng-container>
        <!-- Image column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="white-space: nowrap; padding-right: 15px;">
            {{'TEmployeeModule.employeeImageCol'|translate}}</th>
          <td mat-cell *matCellDef="let element" style="white-space: nowrap; padding-right: 15px;">
            <img *ngIf="element.emImage ==='' || element.emImage === null" src="../../../assets/images/user-none.png"
              alt="" style="border-radius:50% ; object-fit: cover; border: 1px solid #efb1b1!important;" height="26"
              width="26" />
            <img *ngIf="element.emImage !=='' && element.emImage !== null"
              src="{{'data:image/jpg;base64,' + element.emImage}}" alt=""
              style="border-radius:50% ; object-fit: cover; border: 1px solid #efb1b1!important;" height="26"
              width="26" />
          </td>
        </ng-container>
        <!-- Description Column -->
        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="white-space: nowrap; padding-right: 15px;">
            {{'TEmployeeModule.employeeDepCol'|translate}}</th>
          <td mat-cell *matCellDef="let element" style="white-space: nowrap; padding-right: 15px;">{{element.depName}}
          </td>
        </ng-container>
        <!-- Description Column -->
        <ng-container matColumnDef="regency">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="white-space: nowrap; padding-right: 15px;">
            {{'TEmployeeModule.employeeRegCol'|translate}}</th>
          <td mat-cell *matCellDef="let element" style="white-space: nowrap; padding-right: 15px;">{{element.regName}}
          </td>
        </ng-container>
        <!-- Description Column -->
        <ng-container matColumnDef="employeeBirth">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="white-space: nowrap; padding-right: 15px;">
            {{'TEmployeeModule.employeeBirthCol'|translate}}</th>
          <td mat-cell *matCellDef="let element" style="white-space: nowrap; padding-right: 15px;">{{element.emBirthdate
            |date:'dd-MM-yyyy'}}</td>
        </ng-container>
        <!-- Description Column -->
        <ng-container matColumnDef="employeeGender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="white-space: nowrap; padding-right: 15px;">
            {{'TEmployeeModule.employeeGenderCol'|translate}}</th>
          <td mat-cell *matCellDef="let element" style="white-space: nowrap; padding-right: 15px;">{{element.emGender}}
          </td>
        </ng-container>
        <!-- Description Column -->
        <ng-container matColumnDef="employeeIdentity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="white-space: nowrap; padding-right: 15px;">
            {{'TEmployeeModule.employeeIdentityCol'|translate}}</th>
          <td mat-cell *matCellDef="let element" style="white-space: nowrap; padding-right: 15px;">
            {{element.emIdentityNumber}}</td>
        </ng-container>
        <!-- Description Column -->
        <ng-container matColumnDef="employeePhone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="white-space: nowrap; padding-right: 15px;">
            {{'TEmployeeModule.employeePhoneCol'|translate}}</th>
          <td mat-cell *matCellDef="let element" style="white-space: nowrap; padding-right: 15px;">{{element.emPhone}}
          </td>
        </ng-container>
        <!-- Description Column -->
        <ng-container matColumnDef="employeeAddress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="white-space: nowrap; padding-right: 15px;">
            {{'TEmployeeModule.employeeAddressCol'|translate}}</th>
          <td mat-cell *matCellDef="let element" style="white-space: nowrap; padding-right: 15px;">{{element.emAddress}}
          </td>
        </ng-container>
        <ng-container matColumnDef="groupAccess">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="white-space: nowrap;">
            {{'TEmployeeModule.employeeGroupAccessCol'|translate}}
          </th>
          <td mat-cell *matCellDef="let element" style="white-space: nowrap;">{{element.gaName}}</td>
        </ng-container>
        <!-- group access column -->
        <ng-container matColumnDef="access">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center; white-space: nowrap;">
            {{'TEmployeeModule.employeeAccessCol'|translate}}</th>
          <td mat-cell *matCellDef="let element" style="text-align: center; white-space: nowrap;">
            <a>
              <mat-icon *ngIf="element.checkCard">credit_card</mat-icon>
              <mat-icon *ngIf="element.checkFinger">fingerprint</mat-icon>
              <mat-icon *ngIf="element.checkFace">face</mat-icon>
              <mat-icon *ngIf="element.checkVehicle"> directions_car</mat-icon>
            </a>
          </td>
        </ng-container>
        <!-- Status Column -->
        <ng-container matColumnDef="employeeStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="white-space: nowrap;">
            {{'TEmployeeModule.employeeStatusCol'|translate}}</th>
          <td mat-cell *matCellDef="let element" style="white-space: nowrap;">
            <mat-checkbox [disableRipple]="true" (click)="$event.preventDefault()" [checked]="element.emStatus"
              style="margin-left: 30px;"></mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="action" stickyEnd>
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="white-space: nowrap;">
            {{'button.actionCol'|translate}}</th>
          <td mat-cell *matCellDef="let element" style="white-space: nowrap;">
            <button mat-icon-button color="primary" (click)="openDialog('edit',element)"
              *ngIf="'UpdateTEmployee'|userRoles">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" (click)="openDialog('view',element)" *ngIf="'ViewTEmployee'|userRoles">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" pageSize="pageSize" (page)="onChangePage($event)"
      [pageIndex]="page" [length]="totalRow" showFirstLastButtons [disabled]="false"
      aria-label="Select page of appRoles elements">
    </mat-paginator>
  </div>
</mat-card>

<ng-template #modalCreateOrEditEmployee>
  <form action="" (submit)="addData()" [formGroup]="Form">
    <h2 mat-dialog-title>{{title | translate}}</h2>
    <mat-dialog-content class="mat-typography">
      <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="center center">
        <mat-form-field appearance="outline" style="margin-right:5px;">
          <mat-label>{{'TEmployeeModule.employeCode'|translate}}</mat-label>
          <input matInput placeholder="{{'TEmployeeModule.employeCode'|translate}}" formControlName="emCode" #code
            maxlength="10" required>
          <mat-hint align="end">{{code.value.length}} /10</mat-hint>
          <mat-error *ngIf="getValidForm.emCode.hasError('required')">
            {{'TEmployeeModule.employeeRequired'|translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'TEmployeeModule.employeNameCol'|translate}}</mat-label>
          <input matInput placeholder="{{'TEmployeeModule.employeNameCol'|translate}}" formControlName="emName" #name
            maxlength="100" required>
          <mat-hint align="end">{{name.value.length}} / 100</mat-hint>
          <mat-error *ngIf="getValidForm.emName.hasError('required')">
            {{'TEmployeeModule.employeeRequired'|translate}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="center center">
        <mat-form-field appearance="outline" style="margin-right:5px;">
          <mat-label>{{'TEmployeeModule.employeeDepCol'|translate}}</mat-label>
          <mat-select formControlName="depId">
            <mat-option *ngFor="let dep of departments" [value]="dep.depId">
              {{dep.depName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="getValidForm.depId.hasError('required')">
            {{'TEmployeeModule.employeeDepartmentRequired'|translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'TEmployeeModule.employeeRegCol'|translate}}</mat-label>
          <mat-select formControlName="regId">
            <mat-option *ngFor="let reg of regencys" [value]="reg.regId">
              {{reg.regName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="getValidForm.regId.hasError('required')">
            {{'TEmployeeModule.employeeRegencyRequired'|translate}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="center center">
        <mat-form-field appearance="outline" style="margin-right:5px;">
          <mat-label>{{'TEmployeeModule.employeeBirthCol'|translate}}</mat-label>
          <input type="date" matInput placeholder="{{'TEmployeeModule.employeeBirthCol'|translate}}"
            formControlName="emBirthdate">
        </mat-form-field>

        <mat-form-field appearance="outline" style="margin-right:5px;">
          <mat-label>{{'TEmployeeModule.employeTypeCol'|translate}}</mat-label>
          <mat-select formControlName="emTypeId">
            <mat-option *ngFor="let emt of employeeTypes" [value]="emt.emTypeId"
              (onSelectionChange)="changeEmType($event,emt)">
              {{emt.emType}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="getValidForm.emTypeId.hasError('required')">
            {{'TEmployeeModule.employeeTypeRequired'|translate}}
          </mat-error>
        </mat-form-field>

      </div>
      <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="center center">
        <mat-form-field appearance="outline" style="margin-right:5px;">
          <mat-label>{{'TEmployeeModule.employeePhoneCol'|translate}}</mat-label>
          <input matInput placeholder="{{'TEmployeeModule.employeePhoneCol'|translate}}" formControlName="emPhone"
            #phoneNumber maxlength="10">
          <mat-hint align="end">{{phoneNumber.value.length}} / 10</mat-hint>
          <mat-error *ngIf="getValidForm.emPhone.invalid">
            {{'TEmployeeModule.employeePhonelength'|translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'TEmployeeModule.employeeAddressCol'|translate}}</mat-label>
          <input matInput placeholder="{{'TEmployeeModule.employeeAddressCol'|translate}}" formControlName="emAddress"
            #address maxlength="100">
          <mat-hint align="end">{{address.value.length}} / 100</mat-hint>
          <mat-error *ngIf="getValidForm.emAddress.hasError('maxlength')">
            {{'TEmployeeModule.employeeAddresslength'|translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="center center">
        <mat-form-field appearance="outline" style="margin-right:5px;">
          <mat-label>{{'TEmployeeModule.employeeIdentityCol'|translate}}</mat-label>
          <input matInput placeholder="{{'TEmployeeModule.employeeIdentityCol'|translate}}"
            formControlName="emIdentityNumber" #identity maxlength="12">
          <mat-hint align="end">{{identity.value.length}} / 12</mat-hint>
          <mat-error *ngIf="getValidForm.emIdentityNumber.invalid">
            {{'TEmployeeModule.employeeIdentitylength'|translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{'TEmployeeModule.employeeEmailCol'|translate}}</mat-label>
          <input matInput placeholder="{{'TEmployeeModule.employeeEmailCol'|translate}}" formControlName="emEmail"
            #email maxlength="50">
          <mat-hint align="end">{{email.value.length}} / 50</mat-hint>
          <mat-error *ngIf="getValidForm.emEmail.invalid">
            {{'TEmployeeModule.employeeEmailFormat'|translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="center center">
        <mat-form-field appearance="outline" style="margin-right:5px;">
          <mat-label>{{'TEmployeeModule.employeeGroupAccessCol'|translate}}</mat-label>
          <mat-select formControlName="gaId">
            <mat-option *ngFor="let ga of groupAccesss" [value]="ga.gaId">
              {{ga.gaName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="getValidForm.regId.hasError('required')">
            {{'TEmployeeModule.employeeGroupAccessRequired'|translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf=" deviceTypeConfig=='idemiadevice'">
          <mat-label>{{'TEmployeeModule.employeeScheDevDetailCol'|translate}}</mat-label>
          <mat-select formControlName="schDevId">
            <mat-option *ngFor="let sche of schedevdetails" [value]="sche.schDevId">
              {{sche.schName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="getValidForm.regId.hasError('required')">
            {{'TEmployeeModule.employeeGroupAccessRequired'|translate}}
          </mat-error>
        </mat-form-field>
      </div>

      <div align="center">
        <fieldset>
          <legend>{{'TEmployeeModule.employeeImageCol'|translate}}</legend>
          <div fxLayoutAlign="center center" *ngIf="deviceTypeConfig=='unvdevice'">
            <mat-form-field fxFlex.gt-xs="30" fxFlex.lt-xs="100" appearance="outline">
              <mat-label>{{'TEmployeeModule.employeeChosseDevToTakePhoto'|translate}}</mat-label>
              <mat-select [(value)]=devUNVId>
                <mat-option *ngFor="let dev of deviceUNV" [value]="dev.devId"
                  (onSelectionChange)="checkUNVDevice($event,dev)">
                  {{dev.devName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button type="button" mat-stroked-button
            onclick="document.getElementById('getFile').click()">{{'button.uploadButton'|translate}}</button>
          <button *ngIf="deviceTypeConfig=='unvdevice'" type="button" [disabled]="!unvDeviceConnection"
            mat-stroked-button color="primary" (click)="takePhoto()">{{'button.takephotoButton'|translate}}</button>
          <input type="file" (change)="imagePreview($event)" id="getFile" #fileInput style="display:none">
          <div *ngIf="getValidForm.emImage.value ==='' || getValidForm.emImage.value === null">
            <img src="../../../assets/images/user-none.png" class="image-preview">
          </div>
          <div class="image-div" *ngIf="getValidForm.emImage.value !=='' && getValidForm.emImage.value !==null">
            <div class="image-preview">
              <img src="{{'data:image/jpg;base64,' + getValidForm.emImage.value}}" class="image-preview">
              <a href="javascript:void(0)" class="remove-image" (click)="fileInput.value='';clearImage()">
                <mat-icon>close</mat-icon>
              </a>
            </div>
          </div>
        </fieldset>
      </div>
    </mat-dialog-content>
    <div fxLayout.gt-xs="row" fxLayout.lt-xs="column" style="margin-bottom:6px;margin-top:10px">
      <div fxFlex.gt-xs="50" fxFlex.lt-xs="100">
        <mat-label>{{'TEmployeeModule.employeeGenderCol'|translate}} : </mat-label>
        <mat-radio-group formControlName="emGender">
          <mat-radio-button value="M" style="margin: 0 15px 0 50px;">Nam</mat-radio-button>
          <mat-radio-button value="F" style="margin: 0 15px;">Nữ</mat-radio-button>
        </mat-radio-group>
      </div>

      <div fxFlex.gt-xs="50" fxFlex.lt-xs="100" fxLayout.gt-xs="row" fxLayout.lt-xs="column">
        <div fxFlex.gt-xs="40" fxFlex.lt-xs="100">
          <mat-checkbox formControlName="emTimeCheck" [disabled]="isDisableEmTimeCheck">
            {{'TEmployeeModule.employeeTimeCheckCol'|translate}}
          </mat-checkbox>
        </div>
        <div class="action-blurb" fxFlex.gt-xs="40" fxFlexOffset.lt-xs="100" fxFlexOffset.gt-xs="5"
          fxFlexOffset.lt-xs="0">
          <mat-checkbox formControlName="emStatus">
            {{'TEmployeeModule.employeeStatusCol'|translate}}
          </mat-checkbox>
        </div>
      </div>
    </div>

    <mat-dialog-actions align="center">
      <button type="button" [disabled]="preventAbuse" mat-stroked-button color="warn" mat-dialog-close
        (click)="onReset()">{{'button.cancelButton'|translate}}</button>
      <button mat-stroked-button color="primary" [disabled]="preventAbuse"
        type="submit">{{'button.saveButton'|translate}}</button>
    </mat-dialog-actions>
  </form>
</ng-template>

<!-- <ng-template #modalCreateCard>
  <form action="" [formGroup]="FormCreateCard" (submit)="addCardNo()">
    <h2 mat-dialog-title>{{title | translate}}</h2>
    <mat-dialog-content class="mat-typography">
      <div fxLayout.gt-xs="row" fxLayout.lt-xs="column">
        <mat-form-field fxFlex.gt-xs="45" fxFlex.lt-xs="100" appearance="outline">
          <mat-label>{{'TEmployeeModule.employeNameCol'|translate}}</mat-label>
          <input matInput placeholder="{{'TEmployeeModule.employeNameCol'|translate}}" [value]="emName" disabled="true">
        </mat-form-field>

        <mat-form-field fxFlex.gt-xs="45" fxFlex.lt-xs="100" fxFlexOffset.gt-xs="5" fxFlexOffset.lt-xs="0"
          appearance="outline">
          <mat-label>{{'TCardNo.useForCol'|translate}}</mat-label>
          <mat-select formControlName="caTypeCheck">
            <mat-option (onSelectionChange)="changeCardType($event,item)" *ngFor="let item of cardTypes "
              [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout.gt-xs="row" fxLayout.lt-xs="column">
        <mat-form-field fxFlex.gt-xs="45" fxFlex.lt-xs="100" appearance="outline">
          <mat-label>{{'TCardNo.cardNumberCol'|translate}}</mat-label>
          <input matInput placeholder="{{'TCardNo.cardNumberCol'|translate}}" formControlName="caNumber" #cardNumber>
          <mat-hint align="end">{{cardNumber.value.length}} / 30</mat-hint>
          <mat-error *ngIf="getValidFormCreateCard.caNumber.invalid">
            {{'TCardNo.cardNumberInvalid'|translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.gt-xs="45" fxFlex.lt-xs="100" fxFlexOffset.gt-xs="5" appearance="outline">
          <mat-label>{{'TCardNo.cardNoCol'|translate}}</mat-label>
          <input matInput placeholder="{{'TCardNo.cardNoCol'|translate}}" formControlName="caNo" #cardNo>
          <mat-hint align="end">{{cardNo.value.length}} / 30</mat-hint>
          <mat-error *ngIf="getValidFormCreateCard.caNo.invalid">
            {{'TCardNo.cardNoInvalid'|translate}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout.gt-xs="row" fxLayout.lt-xs="column" *ngIf=" deviceTypeConfig=='idemiadevice'">
        <mat-form-field fxFlex.gt-xs="45" fxFlex.lt-xs="100" appearance="outline" style="margin-right:5px;">
          <mat-label>{{'TEmployeeModule.employeeDevCol'|translate}}</mat-label>
          <mat-select [(value)]=devMorphoId>
            <mat-option *ngFor="let dev of deviceMorpho" [value]="dev.devId"
              (onSelectionChange)="checkMorphoDevice($event,dev)">
              {{dev.devName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div fxFlex.gt-xs="45" fxFlex.lt-xs="100" fxFlexOffset.gt-xs="5">
          <button type="button" [disabled]="morphoDeviceType==''||preventAbuse" mat-stroked-button color="primary"
            (click)="getCaNo()">{{'TCardNo.getCaNO'|translate}}</button>
        </div>
      </div>

      <div fxLayout.gt-xs="row" fxLayout.lt-xs="column">
        <mat-form-field fxFlex.gt-xs="45" fxFlex.lt-xs="100" appearance="outline">
          <mat-label>{{'TCardNo.cardApplyDateCol'|translate}}</mat-label>
          <input type="date" matInput formControlName="applyDate"
            placeholder="{{'TCardNo.cardApplyDateCol'|translate}}">
          <mat-error *ngIf="getValidFormCreateCard.applyDate.invalid">
            {{'TCardNo.applyDate'|translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs="45" fxFlex.lt-xs="100" fxFlexOffset.gt-xs="5" appearance="outline">
          <mat-label>{{'TCardNo.cardExpriedDateCol'|translate}}</mat-label>
          <input type="date" formControlName="expriedDate" matInput
            placeholder="{{'TCardNo.cardExpriedDateCol'|translate}}">
        </mat-form-field>
      </div>
      <div>
        <mat-checkbox style="margin-left:10px;margin-bottom:6px; margin-right: 50px;" formControlName="caStatus">
          {{'TCardNo.cardStatusCol'|translate}}
        </mat-checkbox>
        <mat-checkbox *ngIf="getValidFormCreateCard.caStatus.value==true &&deviceTypeConfig=='hundevice'"  [(ngModel)]="isCreateQrcode"
          [ngModelOptions]="{standalone: true}" style="margin-left:10px;margin-bottom:6px; margin-right: 20px;">
          {{'TCardNo.ckbCreateQrcode'|translate}}</mat-checkbox>
      </div>

      <div align="center" *ngIf="deviceTypeConfig=='hundevice' && isShowQrCode">
        <img [src]="srcQrCode" style=" height: 160px; width: 160px;">
      </div>

    </mat-dialog-content>

    <mat-dialog-actions align="center">
      <button [disabled]="preventAbuse" type="button" mat-stroked-button color="warn" mat-dialog-close
        (click)="onReset()">{{'button.cancelButton'|translate}}</button>
      <button [disabled]="preventAbuse"  mat-stroked-button color="primary"
        type="submit">{{'button.saveButton'|translate}}</button>
    </mat-dialog-actions>
  </form>
</ng-template> -->

<!-- model view info employee -->
<ng-template #modelView>
  <mat-dialog-content class="mat-typography">
    <mat-tab-group>
      <!-- Thông tin nhân viên -->
      <mat-tab label="{{'TEmployeeModule.tabFirst'|translate}}">
        <form action="" [formGroup]="Form">
          <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="center center"
            style="margin-top:15px">
            <mat-form-field appearance="outline" style="margin-right:5px;">
              <mat-label>{{'TEmployeeModule.employeCode'|translate}}</mat-label>
              <input matInput placeholder="{{'TEmployeeModule.employeCode'|translate}}" [value]="emCodes"
                [disabled]="true">
            </mat-form-field>

            <mat-form-field appearance="outline" style="margin-right:5px;">
              <mat-label>{{'TEmployeeModule.employeNameCol'|translate}}</mat-label>
              <input matInput placeholder="{{'TEmployeeModule.employeNameCol'|translate}}" [value]="emNames"
                [disabled]="true">
            </mat-form-field>
          </div>

          <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="center center">
            <mat-form-field appearance="outline" style="margin-right:5px;">
              <mat-label>{{'TEmployeeModule.employeeDepCol'|translate}}</mat-label>
              <input matInput placeholder="{{'TEmployeeModule.employeeDepCol'|translate}}" [value]="department"
                [disabled]="true">
            </mat-form-field>

            <mat-form-field appearance="outline" style="margin-right:5px;">
              <mat-label>{{'TEmployeeModule.employeeRegCol'|translate}}</mat-label>
              <input matInput placeholder="{{'TEmployeeModule.employeeRegCol'|translate}}" [value]="regency"
                [disabled]="true">
            </mat-form-field>
          </div>

          <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="center center">
            <mat-form-field appearance="outline" style="margin-right:5px;">
              <mat-label>{{'TEmployeeModule.employeeBirthCol'|translate}}</mat-label>
              <input matInput placeholder="{{'TEmployeeModule.employeeBirthCol'|translate}}"
                [value]="dob |date:'dd-MM-yyyy'" [disabled]="true">
            </mat-form-field>

            <mat-form-field appearance="outline" style="margin-right:5px;">
              <mat-label>{{'TEmployeeModule.employeTypeCol'|translate}}</mat-label>
              <input matInput placeholder="{{'TEmployeeModule.employeTypeCol'|translate}}" [value]="phanloai"
                [disabled]="true">
            </mat-form-field>
          </div>

          <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="center center">
            <mat-form-field appearance="outline" style="margin-right:5px;">
              <mat-label>{{'TEmployeeModule.employeePhoneCol'|translate}}</mat-label>
              <input matInput placeholder="{{'TEmployeeModule.employeePhoneCol'|translate}}" [value]="phone"
                [disabled]="true">
            </mat-form-field>

            <mat-form-field appearance="outline" style="margin-right:5px;">
              <mat-label>{{'TEmployeeModule.employeeAddressCol'|translate}}</mat-label>
              <input matInput placeholder="{{'TEmployeeModule.employeeAddressCol'|translate}}" [value]="address"
                [disabled]="true">
            </mat-form-field>
          </div>

          <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="center center">
            <mat-form-field appearance="outline" style="margin-right:5px;">
              <mat-label>{{'TEmployeeModule.employeeIdentityCol'|translate}}</mat-label>
              <input matInput placeholder="{{'TEmployeeModule.employeeIdentityCol'|translate}}" [value]="identity"
                [disabled]="true">
            </mat-form-field>

            <mat-form-field appearance="outline" style="margin-right:5px;">
              <mat-label>{{'TEmployeeModule.employeeEmailCol'|translate}}</mat-label>
              <input matInput placeholder="{{'TEmployeeModule.employeeEmailCol'|translate}}" [value]="email"
                [disabled]="true">
            </mat-form-field>
          </div>
          <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="center center">
            <mat-form-field appearance="outline" style="margin-right:5px;">
              <mat-label>{{'TEmployeeModule.employeeGenderCol'|translate}}</mat-label>
              <input matInput placeholder="{{'TEmployeeModule.employeeGenderCol'|translate}}" [value]="gender"
                [disabled]="true">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{'TEmployeeModule.employeeGroupAccessCol'|translate}}</mat-label>
              <input matInput placeholder="{{'TEmployeeModule.employeeGroupAccessCol'|translate}}" [value]="graccess"
                [disabled]="true">
            </mat-form-field>
          </div>

          <div align="center">
            <fieldset>
              <legend>{{'TEmployeeModule.employeeImageCol'|translate}}</legend>
              <input type="file" (change)="imagePreview($event)" id="getFile" #fileInput style="display:none">
              <div *ngIf="getValidForm.emImage.value ==='' || getValidForm.emImage.value === null">
                <img src="../../../assets/images/user-none.png" class="image-preview">
              </div>
              <div class="image-div" *ngIf="getValidForm.emImage.value !=='' && getValidForm.emImage.value !==null">
                <div class="image-preview">
                  <img src="{{'data:image/jpg;base64,' + getValidForm.emImage.value}}" class="image-preview">
                </div>
              </div>
            </fieldset>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
      <mat-dialog-actions align="center">
        <button mat-stroked-button color="warn" mat-dialog-close
          (click)="dialog.closeAll()">{{'button.closeButton'|translate}}</button>
      </mat-dialog-actions>
</ng-template>    

<ng-template #modalCreateFinger>
  <form [formGroup]="FormCreateVehicle">
    <h2 mat-dialog-title>{{title | translate}}</h2>
    <mat-dialog-content class="mat-typography">
      <div fxLayout.gt-xs="row">
        <div fxFlex.gt-xs="45">
          <mat-form-field appearance="outline">
            <mat-label>{{'TEmployeeModule.employeNameCol'|translate}}</mat-label>
            <input matInput placeholder="{{'TEmployeeModule.employeNameCol'|translate}}" [value]="emName"
              disabled="true">
          </mat-form-field>
        </div>
        <div fxFlex.gt-xs="45" fxFlexOffset.gt-xs="5">
          <mat-form-field appearance="outline" style="margin-right:5px;">
            <mat-label>{{'TEmployeeModule.employeeDevCol'|translate}}</mat-label>
            <mat-select [(value)]=devMorphoId>
              <mat-option *ngFor="let dev of deviceMorpho" [value]="dev.devId"
                (onSelectionChange)="checkMorphoDevice($event,dev)">
                {{dev.devName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout.gt-xs="row" *ngIf="morphoDeviceType=='WaveDevice'">
        <div fxFlex.gt-xs="45">
          <mat-form-field appearance="outline" style="margin-right:5px;">
            <mat-label>{{'TEmployeeModule.chooseHand'|translate}}</mat-label>
            <mat-select [disabled]="preventAbuse" [(value)]=hand>
              <mat-option (onSelectionChange)="changeHand($event,hand)" *ngFor="let hand of hands" [value]="hand.value">
                {{hand.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex.gt-xs="45" fxFlexOffset.gt-xs="5">
          <button mat-stroked-button color="primary" [disabled]="preventAbuse"
            (click)="enrollMorphoWave()">{{'TEmployeeModule.enrollFinger'
            |translate}}</button>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="morphoDeviceType=='VisionPassDevice'">
        <div>
          <div style="border: 1px solid #888888;  border-radius: 5px; height: 168px; width: 168px;"
            fxLayoutAlign="center center">
            <img [src]="srcFace" style=" height: 162px; width: 162px;">
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-stroked-button color="primary" [disabled]="preventAbuse"
              (click)="enrollFace()">{{'TEmployeeModule.enrollFace'
              |translate}}</button>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="morphoDeviceType=='DuressSupported'">
        <div>
          <div style="border: 1px solid #888888;  border-radius: 5px; height: 168px; width: 126px;"
            fxLayoutAlign="center center">
            <img [src]="srcFinger1Sigma" style=" height: 162px; width: 120px;">
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-stroked-button color="primary" [disabled]="preventAbuse"
              (click)="enrollFinger1()">{{'TEmployeeModule.enrollFinger'
              |translate}}</button>
          </div>
        </div>
        <div>
          <div style="border: 1px solid #888888;  border-radius: 5px; height: 168px; width: 126px;"
            fxLayoutAlign="center center">
            <img [src]="srcFinger2Sigma" style=" height: 162px; width: 120px;">
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-stroked-button color="primary" [disabled]="preventAbuse"
              (click)="enrollFinger2()">{{'TEmployeeModule.enrollFinger'
              |translate}}</button>
          </div>
        </div>
        <div>
          <div style="border: 1px solid #888888;  border-radius: 5px; height: 168px; width: 126px;"
            fxLayoutAlign="center center">
            <img [src]="srcFinger3Sigma" style=" height: 162px; width: 120px;">
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-stroked-button color="primary" [disabled]="preventAbuse"
              (click)="enrollFinger3()">{{'TEmployeeModule.enrollFinger'
              |translate}}</button>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="morphoDeviceType=='WaveDevice'">
        <div fxLayout="column">
          <div>
            <h5>{{indexFingerTitle}}</h5>
          </div>
          <div style="border: 1px solid #888888;  border-radius: 5px; height: 168px; width: 126px;"
            fxLayoutAlign="center center">
            <img [src]="srcFinger1Wave" style=" height: 162px; width: 120px;">
          </div>
          <div style="margin-top: 10px;">
            <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="indexFinger">
              <mat-option *ngFor="let f of fingerStatusArr" [value]="f.value">
                {{f.title}}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div fxLayout="column">
          <div>
            <h5>{{middleFingerTitle}}</h5>
          </div>
          <div style="border: 1px solid #888888;  border-radius: 5px; height: 168px; width: 126px;"
            fxLayoutAlign="center center">
            <img [src]="srcFinger2Wave" style=" height: 162px; width: 120px;">
          </div>
          <div style="margin-top: 10px;">
            <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="middleFinger">
              <mat-option *ngFor="let f of fingerStatusArr" [value]="f.value">
                {{f.title}}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div fxLayout="column">
          <div>
            <h5>{{ringFingerTitle}}</h5>
          </div>
          <div style="border: 1px solid #888888;  border-radius: 5px; height: 168px; width: 126px;"
            fxLayoutAlign="center center">
            <img [src]="srcFinger3Wave" style=" height: 162px; width: 120px;">
          </div>
          <div style="margin-top: 10px;">
            <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="ringFinger">
              <mat-option *ngFor="let f of fingerStatusArr" [value]="f.value">
                {{f.title}}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div fxLayout="column">
          <div>
            <h5>{{littleFingerTitle}}</h5>
          </div>
          <div style="border: 1px solid #888888;  border-radius: 5px; height: 168px; width: 126px;"
            fxLayoutAlign="center center">
            <img [src]="srcFinger4Wave" style=" height: 162px; width: 120px;">
          </div>
          <div style="margin-top: 10px;">
            <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="littleFinger">
              <mat-option *ngFor="let f of fingerStatusArr" [value]="f.value">
                {{f.title}}
              </mat-option>
            </mat-select>
          </div>
        </div>
      </div>

    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button mat-stroked-button color="warn" [disabled]="preventAbuse" mat-dialog-close
        (click)="onReset()">{{'button.cancelButton'|translate}}</button>
      <button mat-stroked-button color="primary" [disabled]="preventAbuse"
        (click)="addFinger()">{{'button.saveButton'|translate}}</button>
    </mat-dialog-actions>
  </form>
</ng-template>